@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.cd-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-wrapper{
    position: relative;
    width: calc(100% - 100%);
    margin-left: 50px;
}

.logo-wrap{
    position: absolute;
    display: block;
    left: 0;
    top: 40px;
    cursor: pointer;
}

.logo-wrap a {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    transition: all 0.3s ease-out;
}

.logo-wrap a span{
    color: #8167a9;
}

.logo-wrap a:hover{
    opacity: 0.9;
}
.nav-but-wrap{
    position: relative;
    display: inline-block;
    float: right;
    padding-left: 15px;
    padding-top: 15px;
    margin-top: 26px;
    transition: all 0.3s ease-out;
}

.menu-icon{
    height: 30px;
    width: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: block;
}
.menu-icon__line {
	height: 2px;
	width: 30px;
	display: block;
	background-color: #fff;
	margin-bottom: 7px;
	cursor: pointer;
	-webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
	transition: background-color .5s ease, -webkit-transform .2s ease;
	transition: transform .2s ease, background-color .5s ease;
	transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}
.menu-icon__line-left {
	width: 16.5px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.menu-icon__line-right {
	width: 16.5px;
	float: right;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}
.menu-icon:hover .menu-icon__line-left,
.menu-icon:hover .menu-icon__line-right {
	width: 30px;
}

.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    /* outline: dashed 1px black; */
    /* Setup */
    position: relative;
  }
  
  .child {
    width: 50px;
    height: 50px;
    /* background-color: red; */
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.button {
  position: absolute;
  background-color:rgb(5, 5, 1);
  color: #fff;
  border:black;
  padding: 15px;
  border-radius:10px;
  font-size: 16px;
}

/* Dark Mode */
body.dark-mode{
    background-color:black;
    color: white;
} 

button.dark-mode {
    background-color: white;
    color: black;
}


